voternator-tagline{
	color:{{color}};
	background: -webkit-gradient(linear,left top,right top,color-stop(0, {{color}}),color-stop(0.4, {{color}}),color-stop(0.5, white),color-stop(0.6, {{color}}),color-stop(1, {{color}}));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

voternator-choice.voted voternator-score{
	background:{{color}};
}
voternator-choice.voted voternator-tap{
	border:1px solid {{color}};
}
voternator-choice voternator-tap:hover{
	border:1px solid {{color}};
}
