@-webkit-keyframes shakeText{
	0%{
		-webkit-transform:rotate(-10deg);
	}
	100%{
		-webkit-transform:rotate(10deg);
	}
}
@-moz-keyframes shakeText{
	0%{
		-moz-transform:rotate(-10deg);
	}
	100%{
		-moz-transform:rotate(10deg);
	}
}
@-ms-keyframes shakeText{
	0%{
		-ms-transform:rotate(-10deg);
	}
	100%{
		-ms-transform:rotate(10deg);
	}
}
@-o-keyframes shakeText{
	0%{
		-o-transform:rotate(-10deg);
	}
	100%{
		-o-transform:rotate(10deg);
	}
}
@keyframes shakeText{
	0%{
		transform:rotate(-10deg);
	}
	100%{
		transform:rotate(10deg);
	}
}

voternator-main, voternator-tagline, voternator-table, voternator-choice, voternator-score, voternator-button{
	display:block;
}
voternator-emoji{
	display:inline;
}
voternator-img{
	display:inline-block;
}

voternator-main{
	padding:40px 0px;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height:normal;
}

voternator-tagline{
	font-style:italic;
	text-transform:uppercase;

	font-weight:bold;

	font-size:16px;

	color:#333;
	margin-bottom:30px;
}

voternator-table{
	text-align:center;
	display:table;
	table-layout:fixed;

	width:100%;
}

voternator-choice{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;

	display:table-cell;
	cursor:pointer;

	vertical-align:bottom;

	border-right:10px solid transparent;
}

voternator-choice.voted voternator-score{
	background:#333;
}
voternator-choice.voted voternator-button{
	border:1px solid #333;
}
voternator-choice.voted voternator-button voternator-emoji{
	-webkit-animation: shakeText 0.1s linear alternate infinite;
	-moz-animation: shakeText 0.1s linear alternate infinite;
	-ms-animation: shakeText 0.1s linear alternate infinite;
	-o-animation: shakeText 0.1s linear alternate infinite;
	animation: shakeText 0.1s linear alternate infinite;
}

voternator-score{
	background:#F0F0F0;
	width:100%;
	position:relative;
	max-height:180px;

	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-ms-transition:0.2s;
	-o-transition:0.2s;
	transition:0.2s;

	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
@media screen and (min-width:600px){
	voternator-score{
		max-height:260px;
	}
}
voternator-score:after{
	content:attr(data-numero);
	font-size:16px;
	color:#BCBCBC;
	font-style:italic;
	font-weight:bold;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
voternator-choice.voted voternator-score:after{
	color:#FFF;
}

voternator-button{
	border:1px solid #F0F0F0;
	border-radius:5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	padding:15px 0px;

	-webkit-transition:0.2s;
	-moz-transition:0.2s;
	-ms-transition:0.2s;
	-o-transition:0.2s;
	transition:0.2s;
}
voternator-button:hover{
	border:1px solid #CDCDCD;
}
voternator-button:hover voternator-emoji{
	-webkit-animation: shakeText 0.1s linear alternate infinite;
	-moz-animation: shakeText 0.1s linear alternate infinite;
	-ms-animation: shakeText 0.1s linear alternate infinite;
	-o-animation: shakeText 0.1s linear alternate infinite;
	animation: shakeText 0.1s linear alternate infinite;
}

voternator-button voternator-img{
	background-position:center center;
	background-size:contain;
	background-repeat:no-repeat;
	vertical-align:middle;
}

@media screen and (min-width:0px){
	voternator-button voternator-img{
		height:24px;
		width:24px;
	}
}
@media screen and (min-width:400px){
	voternator-button voternator-img{
		height:30px;
		width:30px;
	}
}
@media screen and (min-width:600px){
	voternator-button voternator-img{
		height:36px;
		width:36px;
	}
}
